<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>COCIT</title>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<script src="https://use.fontawesome.com/e8ebcfe0ff.js"></script>
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Carrois+Gothic+SC|Finger+Paint|Rajdhani|Ubuntu+Condensed" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
</head>
<body>

<!-- Imagen header -->
        <div class="primera">
            <div class="container1">
              <p class="banners flex">SERVICIOS</p>
              <p class="banners2 flex"> En COCIT tenemos la capacidad técnica necesaria <br> para el desarrollo de sus proyectos.</p>
            </div>
          <img src="img/servicios-01.jpg" style="width:100%; height:100%" >
        </div>

        <div class="servicios">
        	<p style="font-size: 45pt;">ACABADOS EPOXICOS</p>
        </div>

                        <!-- Top part of the slider -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="carousel-bounding-box">
                <div class="carousel slide" id="myCarousel">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                    <img src="img/tres.jpg"></div>

                    <div class="item" data-slide-number="1">
                    <img src="img/green.jpg"></div>

                    <div class="item" data-slide-number="2">
                    <img src="img/lollipop.jpg"></div>

                    <div class="item" data-slide-number="3">
                    <img src="img/lollipop1.jpg"></div>                            
                  </div>
                </div>
            </div>
        </div>
    </div>

        <div class="servicios2">
        	<p style="font-size: 45pt;">CIMENTACIONES</p>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="carousel-bounding-box">
                <div class="carousel slide" id="myCarousel1">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                    <img src="img/cimentacion2.jpg"></div>

                    <div class="item" data-slide-number="1">
                    <img src="img/coca.jpg"></div>

                    <div class="item" data-slide-number="2">
                    <img src="img/molino.jpg"></div>

                    <div class="item" data-slide-number="3">
                    <img src="img/cimenprensa2.jpg"></div>

                    <div class="item" data-slide-number="4">
                    <img src="img/cimentacion3.jpg"></div>

                    <div class="item" data-slide-number="5">
                    <img src="img/cimenprensa.jpg"></div>

                    <div class="item" data-slide-number="6">
                    <img src="img/cimengreen.jpg"></div>                               
                  </div>
                </div>
            </div>
        </div>
    </div>

        <div class="servicios">
        	<p style="font-size: 45pt;">EDIFICIOS</p>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="carousel-bounding-box">
                <div class="carousel slide" id="myCarousel2">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                    <img src="img/aula.jpg"></div>

                    <div class="item" data-slide-number="1">
                    <img src="img/domo.jpg"></div>

                    <div class="item" data-slide-number="2">
                    <img src="img/barda.jpg"></div>                           
                  </div>
                </div>
            </div>
        </div>
    </div>

        <div class="servicios2">
        	<p style="font-size: 45pt;">ESTRUCTURAS METALICAS</p>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="carousel-bounding-box">
                <div class="carousel slide" id="myCarousel3">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                    <img src="img/estructura.jpg"></div>

                    <div class="item" data-slide-number="1">
                    <img src="img/estructura2.jpg"></div>

                    <div class="item" data-slide-number="2">
                    <img src="img/estructura1.jpg"></div>

                    <div class="item" data-slide-number="3">
                    <img src="img/estructura3.jpg"></div>

                    <div class="item" data-slide-number="4">
                    <img src="img/grua.jpg"></div>                           
                  </div>
                </div>
            </div>
        </div>
    </div>

        <div class="servicios">
        	<p style="font-size: 45pt;">IMPERMEABILIZACIÓN</p>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="carousel-bounding-box">
                <div class="carousel slide" id="myCarousel4">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                    <img src="img/imper.jpg"></div>

                    <div class="item" data-slide-number="1">
                    <img src="img/imper3.jpg"></div>

                    <div class="item" data-slide-number="2">
                    <img src="img/imper4.jpg"></div>

                    <div class="item" data-slide-number="3">
                    <img src="img/imper2.jpg"></div>                            
                  </div>
                </div>
            </div>
        </div>
    </div>

        <div class="servicios2">
        	<p style="font-size: 45pt;">PISOS DE CONCRETO</p>
        </div>
    <div class="container">
         <div class="row">
            <div class="col-sm-12" id="carousel-bounding-box">
                <div class="carousel slide" id="myCarousel5">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                    <img src="img/pisospor.jpg"></div>

                    <div class="item" data-slide-number="1">
                    <img src="img/nissan.jpg"></div>

                    <div class="item" data-slide-number="2">
                    <img src="img/concreto.jpg"></div>

                    <div class="item" data-slide-number="3">
                    <img src="img/pisos.jpg"></div>

                    <div class="item" data-slide-number="4">
                    <img src="img/bacheo3.jpg"></div>

                    <div class="item" data-slide-number="5">
                    <img src="img/pigmentado.jpg"></div>                             
                  </div>
                </div>
            </div>
        </div>
    </div>

        <div class="servicios">
        	<p style="font-size: 45pt;">REMODELACIÓN Y RESTAURACIÓN</p>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="carousel-bounding-box">
                <div class="carousel slide" id="myCarousel6">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                    <img src="img/remod.jpg"></div>

                    <div class="item" data-slide-number="1">
                    <img src="img/remod1.jpg"></div>

                    <div class="item" data-slide-number="2">
                    <img src="img/remod2.jpg"></div>

                    <div class="item" data-slide-number="3">
                    <img src="img/remod3.jpg"></div>

                    <div class="item" data-slide-number="4">
                    <img src="img/restauracion.jpg"></div>

                    <div class="item" data-slide-number="5">
                    <img src="img/restauracion2.jpg"></div>                             
                  </div>
                </div>
            </div>
        </div>
    </div>

        <div class="servicios2">
        	<p style="font-size: 45pt;">TUBERIAS Y DRENAJES</p>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="carousel-bounding-box">
                <div class="carousel slide" id="myCarousel7">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item" data-slide-number="0">
                    <img src="img/tuberia2.jpg"></div>

                    <div class="item" data-slide-number="1">
                    <img src="img/tuberia.jpg"></div>

                    <div class="item" data-slide-number="2">
                    <img src="img/drenaje.jpg"></div>                           
                  </div>
                </div>
            </div>
        </div>
    </div>

</body>
 <script>  jQuery(document).ready(function($) {
 
        $('#myCarousel').carousel({
                interval: 1500
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel').carousel(id);
        });
 
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>

 <script>  jQuery(document).ready(function($) {
 
        $('#myCarousel1').carousel({
                interval: 1500
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel1').carousel(id);
        });
 
        // When the carousel slides, auto update the text
        $('#myCarousel1').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>

 <script>  jQuery(document).ready(function($) {
 
        $('#myCarousel2').carousel({
                interval: 1500
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel2').carousel(id);
        });
 
        // When the carousel slides, auto update the text
        $('#myCarousel2').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>

 <script>  jQuery(document).ready(function($) {
 
        $('#myCarousel3').carousel({
                interval: 1500
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel3').carousel(id);
        });
 
        // When the carousel slides, auto update the text
        $('#myCarousel3').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>

 <script>  jQuery(document).ready(function($) {
 
        $('#myCarousel4').carousel({
                interval: 1500
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel4').carousel(id);
        });
 
        // When the carousel slides, auto update the text
        $('#myCarousel4').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>

 <script>  jQuery(document).ready(function($) {
 
        $('#myCarousel5').carousel({
                interval: 1500
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel5').carousel(id);
        });
 
        // When the carousel slides, auto update the text
        $('#myCarousel5').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>

 <script>  jQuery(document).ready(function($) {
 
        $('#myCarousel6').carousel({
                interval: 1500
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel6').carousel(id);
        });
 
        // When the carousel slides, auto update the text
        $('#myCarousel6').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>

 <script>  jQuery(document).ready(function($) {
 
        $('#myCarousel7').carousel({
                interval: 1500
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel7').carousel(id);
        });
 
        // When the carousel slides, auto update the text
        $('#myCarousel7').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>

<script>setTimeout('document.location.reload()',20000); </script>
</html>