<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon-02.png">

      <title>COCIT</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<script src="https://use.fontawesome.com/e8ebcfe0ff.js"></script>
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Aldrich|Carrois+Gothic+SC|Finger+Paint|Rajdhani|Ubuntu+Condensed" rel="stylesheet">

</head>

  <body>
      <div class="cuarto" data-parallax="scroll" data-image-src="img/puntos-naranja-07.svg">
        <div class="titulo5" >
          <p style="font-size: 50pt; color: #FFB131;">ELLOS CONFIAN EN NOSOTROS:</p>
        </div>
        <div class="container">
        <div class="row clientes">
            <div class="col-sm-4">     
                <img class="img-responsive img-center hvr-pulse-grow" src="img/porcelanite-08.svg" style="width:450px" alt="Porcelanite">
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/Flowserve.png" style="width:250px" alt="FLOWSERVE">
            </div> 
            <div class="col-sm-4">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/kimberly-09.svg" style="width:450px" alt="Kimberly">
            </div> 
        </div>
        <div class="row clientes2">
            <div class="col-sm-4">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/BUAP2.png" style="height:150px; width:150px" alt="BUAP">
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/femsa.png" style="width:250px" alt="FEMSA">
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/nissan-01.png" style="height:150px; width:150px" alt="Nissan">
            </div>
        </div>
        <div class="row clientes2">
            <div class="col-sm-4">     
                <img class="img-responsive img-center hvr-pulse-grow" src="img/vesta.jpg" style="height:130px; width:300px" alt="Vesta">
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/cydsa-logo2.jpg" style="height:130px; width:300px" alt="Cydsa">
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/greenbrier-13.svg" style="width:230px" alt="Greenbrier">
            </div>
        </div>
        <div class="row clientes2">
            <div class="col-sm-3">     
                <img class="img-responsive img-center hvr-pulse-grow" src="img/Logo_Vetrotex.jpg" style="height:130px; width:400px" alt="Vetrotex">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/polaquimia-12.svg" alt="Polaquimia">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/saint-gobain-11.svg" alt="Saint-Gobain">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/simec.png" style="height:70px;" alt="Simec">
            </div>
        </div>
        </div>
          
        </div>

      <footer>
        <p>&copy; 2017 COCIT S.A de C.V. &middot;</a></p>
      </footer>

  </body>
</html>


