<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

      <title>COCIT</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<script src="https://use.fontawesome.com/e8ebcfe0ff.js"></script>
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">


  </head>

  <body>
                

    <div class="primera" data-parallax="scroll">
        <img class="bolitas" src="img/bolitas-02.png" align="right">
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="img/foto1-06.png">
          <div class="container">
            <div class="carousel-caption">
              <h1>Proyecto Greenbrier Industries</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
              <p><a class="btn btn-lg btn-primary hvr-underline-from-center" href="#" role="button">Ver más</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="img/COCIT-web2-08.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Proyecto Greenbrier Industries</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Ver más</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="img/COCIT-web3-08.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Proyecto Greenbrier Industries</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Ver más</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->


    <!-- CIRCLES
    ================================================== -->
    <div class="segunda" data-parallax="scroll" data-image-src="img/puntos-01.png">  
    	<div class="row">
            <div class="col-sm-4"> 
              <a href="about"> 
                <img class="img-responsive img-center hvr-pulse-grow" src="img/mision-03.png" alt="Misión">
              </a> 
                <h2>MISIÓN</h2>
            </div>
            <div class="col-sm-4">
              <a href="about">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/vision-04.png" alt="Visión">
              </a>
                <h2>VISIÓN</h2>
            </div>
            <div class="col-sm-4">
              <a href="about">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/politicas-05.png" alt="Política de Calidad">
              </a>
                <h2>POLÍTICA <br> DE CALIDAD</h2>
            </div>
        </div>
    </div>

      <!-- START THE FEATURETTES -->
      <div class="tercero" data-parallax="scroll" data-image-src="" >
        <div class="titulo" >
           <p style="font-size: 45pt;">SERVICIOS</p>
        </div>
        <div class="row">
            <div class="col-sm-3 nopadding imghvr-zoom-out">
              <a href="catalogo"></a> 
                <img class="cuadro img-responsive" src="img/web1-07.jpg">
                  <figcaption style="background-color:#FFB131; text-align:center; padding-top:100px;">
                    <h1>ACABADOS EPOXICOS</h1>
                  </figcaption>
            </div>
            <div class="col-sm-3 nopadding imghvr-blur">
              <a href="catalogo"></a>  
                <img class="cuadro img-responsive" src="img/web2-07.jpg">
                  <figcaption style="background-color:#BDBEC0; text-align:center; padding-top:100px;">
                    <h1>CIMENTACIONES</h1>
                  </figcaption>
            </div>
            <div class="col-sm-3 nopadding imghvr-zoom-out" >
              <a href="catalogo"></a>  
                <img class="cuadro img-responsive" src="img/web3-07.jpg">
                  <figcaption style="background-color:#FFB131; text-align:center; padding-top:100px;">
                    <h1>EDIFICIOS</h1>
                  </figcaption>
            </div>
            <div class="col-sm-3 nopadding imghvr-blur" >
              <a href="catalogo"></a> 
                <img class="cuadro img-responsive" src="img/web1-07.jpg">
                  <figcaption style="background-color:#BDBEC0; text-align:center; padding-top:100px;">
                    <h1>ESTRUCTURA METALICA</h1>
                  </figcaption>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 nopadding imghvr-blur">
              <a href="catalogo"></a>       
                <img class="cuadro img-responsive" src="img/web1-07.jpg">
                  <figcaption style="background-color:#BDBEC0; text-align:center; padding-top:100px;">
                    <h1>IMPERMEABILI- <br>ZACIÓN</h1>
                  </figcaption>
            </div>
            <div class="col-sm-3 nopadding imghvr-zoom-out">
              <a href="catalogo"></a> 
                <img class="cuadro img-responsive" src="img/web2-07.jpg">
                  <figcaption style="background-color:#FFB131; text-align:center; padding-top:100px;">
                    <h1>PISOS DE CONCRETO</h1>
                  </figcaption>
            </div>
            <div class="col-sm-3 nopadding imghvr-blur" >
              <a href="catalogo"></a> 
                <img class="cuadro img-responsive" src="img/web3-07.jpg">
                  <figcaption style="background-color:#BDBEC0; text-align:center; padding-top:100px;">
                    <h1>REMODELACIÓN Y RESTAURACIÓN</h1>
                  </figcaption>
            </div>
            <div class="col-sm-3 nopadding imghvr-zoom-out">
              <a href="catalogo"></a>  
                <img class="cuadro img-responsive" src="img/web1-07.jpg">
                  <figcaption style="background-color:#FFB131; text-align:center; padding-top:100px;">
                    <h1>TUBERIAS Y DRENAJES</h1>
                  </figcaption>
            </div>
        </div>
      </div>


      <div class="cuarto" data-parallax="scroll" data-image-src="img/puntos-naranja-07.svg">
        <div class="row clientes">
            <div class="col-sm-6">     
                <img class="img-responsive img-center hvr-pulse-grow" src="img/porcelanite-08.svg" alt="Porcelanite">
            </div>
            <div class="col-sm-6">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/kimberly-09.svg" alt="Kimberly">
            </div>  
        </div>
        <div class="row clientes2">
            <div class="col-sm-3">     
                <img class="img-responsive img-center hvr-pulse-grow" src="img/femsa-10.svg" alt="FEMSA">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/saint-gobain-11.svg" alt="ADFORS">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/polaquimia-12.svg" alt="Polaquimia">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/greenbrier-13.svg" alt="Greenbrier">
            </div>
          
        </div>
      </div>

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 COCIT S.A de C.V. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
  </body>
</html>


