<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon-02.png">

      <title>COCIT</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<script src="https://use.fontawesome.com/e8ebcfe0ff.js"></script>
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Aldrich|Carrois+Gothic+SC|Finger+Paint|Rajdhani|Ubuntu+Condensed" rel="stylesheet">


  </head>

  <body>
                
    <!-- Carousel
    ================================================== -->
        <!-- Wrapper for Slides -->
        <div class="carousel-inner carousel primera" id="myCarousel" data-ride="carousel" style="width: 100%; height:100%;">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
            <div class="item active" id="myCarousel">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" id="myCarousel" style="background-image:url('img/principal-05.jpg');"></div>              
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" id="myCarousel" style="background-image:url('img/principal-03.jpg');"></div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" id="myCarousel" style="background-image:url('img/principal-04.jpg');"></div>
            </div>
        </div>

    <!-- CIRCLES
    ================================================== -->
    <div class="segunda" data-parallax="scroll" data-image-src="img/puntos-01.png">  
    	<div class="row">
            <div class="col-sm-4"> 
              <a href="about"> 
                <img class="img-responsive img-center hvr-pulse-grow" src="img/mision-03.png" alt="Misión">
              </a> 
                <h2>MISIÓN</h2>
            </div>
            <div class="col-sm-4">
              <a href="about">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/vision-04.png" alt="Visión">
              </a>
                <h2>VISIÓN</h2>
            </div>
            <div class="col-sm-4">
              <a href="about">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/politicas-05.png" alt="Política de Calidad">
              </a>
                <h2>POLÍTICA <br> DE CALIDAD</h2>
            </div>
        </div>
    </div>

      <!-- START THE FEATURETTES -->
      <div class="tercero" data-parallax="scroll" data-image-src="" >
        <div class="titulo" >
           <p style="font-size: 50pt; color: #BDBEC0; ">SERVICIOS</p>
        </div>
        <div class="row">
            <div class="col-sm-3 nopadding imghvr-zoom-out">
              <a href="catalogo"></a> 
                <img class="cuadro img-responsive" src="img/acabados.jpg">
                  <figcaption style="background-color:#FFB131; text-align:center; padding-top:100px;">
                    <h1 class="sub">ACABADOS EPOXICOS</h1>
                  </figcaption>
            </div>
            <div class="col-sm-3 nopadding imghvr-blur">
              <a href="catalogo"></a>  
                <img class="cuadro img-responsive" src="img/cimentacion.jpg">
                  <figcaption style="background-color:#BDBEC0; text-align:center; padding-top:100px;">
                    <h1 class="sub">CIMENTACIONES</h1>
                  </figcaption>
            </div>
            <div class="col-sm-3 nopadding imghvr-zoom-out" >
              <a href="catalogo"></a>  
                <img class="cuadro img-responsive" src="img/edificios.jpg">
                  <figcaption style="background-color:#FFB131; text-align:center; padding-top:100px;">
                    <h1 class="sub">EDIFICIOS</h1>
                  </figcaption>
            </div>
            <div class="col-sm-3 nopadding imghvr-blur" >
              <a href="catalogo"></a> 
                <img class="cuadro img-responsive" src="img/estructurametal.jpg">
                  <figcaption style="background-color:#BDBEC0; text-align:center; padding-top:100px;">
                    <h1 class="sub">ESTRUCTURA METALICA</h1>
                  </figcaption>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 nopadding imghvr-blur">
              <a href="catalogo"></a>       
                <img class="cuadro img-responsive" src="img/impermeBuap.jpg">
                  <figcaption style="background-color:#BDBEC0; text-align:center; padding-top:100px;">
                    <h2 class="sub">IMPERMEABILIZACIÓN</h2>
                  </figcaption>
            </div>
            <div class="col-sm-3 nopadding imghvr-zoom-out">
              <a href="catalogo"></a> 
                <img class="cuadro img-responsive" src="img/concretoflowserve.jpg">
                  <figcaption style="background-color:#FFB131; text-align:center; padding-top:100px;">
                    <h1 class="sub">PISOS DE CONCRETO</h1>
                  </figcaption>
            </div>
            <div class="col-sm-3 nopadding imghvr-blur" >
              <a href="catalogo"></a> 
                <img class="cuadro img-responsive" src="img/restauracion2.jpg">
                  <figcaption style="background-color:#BDBEC0; text-align:center; padding-top:100px;">
                    <h1 class="sub">REMODELACIÓN Y RESTAURACIÓN</h1>
                  </figcaption>
            </div>
            <div class="col-sm-3 nopadding imghvr-zoom-out">
              <a href="catalogo"></a>  
                <img class="cuadro img-responsive" src="img/tuberias.jpg">
                  <figcaption style="background-color:#FFB131; text-align:center; padding-top:100px;">
                    <h1 class="sub">TUBERIAS Y DRENAJES</h1>
                  </figcaption>
            </div>
        </div>
      </div>


      <div class="cuarto" data-parallax="scroll" data-image-src="img/puntos-naranja-07.svg">
        <div class="row clientes">
            <div class="col-sm-4">     
                <img class="img-responsive img-center hvr-pulse-grow" src="img/porcelanite-08.svg" style="width:450px" alt="Porcelanite">
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/Flowserve.png" style="width:250px" alt="FLOWSERVE">
            </div> 
            <div class="col-sm-4">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/kimberly-09.svg" style="width:450px" alt="Kimberly">
            </div> 
        </div>
        <div class="row clientes2">
            <div class="col-sm-3">     
                <img class="img-responsive img-center hvr-pulse-grow" src="img/adams.png" style="height:100px; width:270px" alt="ADAMS">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/BUAP2.png" style="height:150px; width:150px" alt="BUAP">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/femsa.png" style="width:250px" alt="FEMSA">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/nissanlogo.png" style="height:150px; width:150px" alt="Nissan">
            </div>
        </div>
        <div class="row clientes2">
            <div class="col-sm-4">     
                <img class="img-responsive img-center hvr-pulse-grow" src="img/vesta.jpg" style="height:130px; width:300px" alt="Vesta">
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/cydsa-logo2.jpg" style="height:130px; width:300px" alt="Cydsa">
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/greenbrier-13.svg" style="width:230px" alt="Greenbrier">
            </div>
        </div>
        <div class="row clientes2">
            <div class="col-sm-3">     
                <img class="img-responsive img-center hvr-pulse-grow" src="img/Logo_Vetrotex.jpg" style="height:130px; width:400px" alt="Vetrotex">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/polaquimia-12.svg" alt="Polaquimia">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/saint-gobain-11.svg" alt="Saint-Gobain">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive img-center hvr-pulse-grow" src="img/simec.png" style="height:70px;" alt="Simec">
            </div>
        </div>
          
        </div>
      </div>

      <!-- /END THE FEATURETTES -->
    <script>
    $('.carousel').carousel({
        interval: 2000 //changes the speed
    })
    </script>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 COCIT S.A de C.V. &middot;</a></p>
      </footer>

    </div><!-- /.container -->
  </body>
</html>


