<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>COCIT</title>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<script src="https://use.fontawesome.com/e8ebcfe0ff.js"></script>
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Aldrich|Carrois+Gothic+SC|Finger+Paint|Rajdhani|Ubuntu+Condensed" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
</head>
<body>

        <div class="primera" data-parallax="scroll">
          <img src="img/nosotros-01.jpg" style="width:100%; height:100%">
          <div class="container">
          </div>
        </div>

 <div class="container" style="margin-top:50px;">
        <!-- Project One -->
        <div class="row">
            <div class="col-md-8">
            	<div class="titulo2">
                <p style="font-size: 50pt;">MISIÓN</p>
                </div>
                <p class="parrafos"> 
                    SOMOS UN GRUPO DE INGENIEROS Y ARQUITECTOS MEXICANOS, QUE ESTAMOS COMPROMETIDOS CON EL SECTOR PÚBLICO Y PRIVADO A DESARROLLAR OBRAS DE CALIDAD, ESTANDO A LA VANGUARDIA DE NUEVOS PROCESOS CONSTRUCTIVOS Y LA CONSTANTE CAPACITACIÓN DE NUESTRO PERSONAL, CONVENCIDOS TODOS LOS QUE FORMAMOS PARTE DE ESTE GRUPO QUE PARA LOGRAR LA SATISFACCIÓN TOTAL DE NUESTROS CLIENTES DEBEREMOS CUMPLIR CON LOS TIEMPOS PACTADOS PARA LA EJECUCIÓN DE LA OBRA, SIN PONER EN RIESGO LA SEGURIDAD DE PERSONAL INVOLUCRADO DIRCTA O INDIRECTAMENTE, CUIDANDO LA CALIDAD, COSTOS Y RESPETANDO SIEMPRE AL MEDIO AMBIENTE.
                </p>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <img class="img-responsive img-center" src="img/mision-03.png" alt="Misión">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <img class="img-responsive img-center size" src="img/vision-04.png" alt="Misión">
                </a>
            </div>
            <div class="col-md-8">
            	<div class="titulo2">
                <p style="font-size: 50pt;">VISIÓN</p>
                </div>
                <p class="parrafos"> 
                    EN PRIMER PLANO CONSOLIDARNOS Y SER PROTAGONISTAS DENTRO DEL ESTADO COMO UNO DE LOS MEJORES GRUPOS DEDICADOS A LA INDUSTRIA DE LA CONSTRUCCIÓN, FORMANDO UN EQUIPO COMPETITIVO, EFICIENTE, CONFIABLE, EFICAZ Y RENTABLE, RECONOCIDOS SIEMPRE POR LA HONESTIDAD Y PROFESINALISMO DE CADA UNO DE LOS INTEGRANTES QUE FORMAN PARTE DE ESTE GRUPO. Y ESTO NOS SIRVA PARA SER CONSIDERADOS EN ALGÚN MOMENTO EN EL RESTO DEL PAÍS.
                </p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-8">
            	<div class="titulo2">
                <p style="font-size: 50pt;">POLÍTICA DE CALIDAD</p>
                </div> 
                <p class="parrafos"> EN GRUPO CONSTRUCTOR COCIT TENEMOS COMO PRIORIDAD LA TOTAL SATISFACCIÓN DE NUESTROS CLIENTES DE UNA MANERA PROFESIONAL Y APEGADA A ESTANDARES DE CALIDAD ASÍ COMO LA CONTINUA CAPACITACIÓN DE NUESTRO RECURSO HUMANO 
                </p>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <img class="img-responsive img-center" src="img/politicas-05.png" alt="Misión">
                </a>
            </div>
        </div>
        <!-- /.row -->
 </div>
        
</body>
</html>