<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>COCIT</title>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script src="https://use.fontawesome.com/e8ebcfe0ff.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Aldrich|Carrois+Gothic+SC|Finger+Paint|Rajdhani|Ubuntu+Condensed" rel="stylesheet">
</head>
<body>

<!-- Imagen header -->

        <div class="foto">
            <div class="container1">
              <p class="banners flex">PORTAFOLIO</p>
              <p class="banners2 flex"> En COCIT tenemos la capacidad técnica necesaria <br> para el desarrollo de sus proyectos.</p>
            </div>
          <img src="img/portafolio-01.jpg" style="width:100%; height:100%">
        </div>

<!-- Incio portafolio -->
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/900x900.jpg" class="portfolio-box">
                        <img src="img/900x900.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="categorias">
                                    PISO EPOXICO
                                </div>
                                <div class="subcategorias">
                                    GREENBRIER
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/laminadoporcel.jpg" class="portfolio-box">
                        <img src="img/laminadoporcel.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="categorias">
                                    LAMINACIÓN
                                </div>
                                <div class="subcategorias">
                                    PORCELANITE
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/edificiobuap.jpg" class="portfolio-box">
                        <img src="img/edificiobuap.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="categorias">
                                    EDIFICIO
                                </div>
                                <div class="subcategorias">
                                    BUAP
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/remodflowserve.jpg" class="portfolio-box">
                        <img src="img/remodflowserve.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="categorias">
                                    REMODELACION
                                </div>
                                <div class="subcategorias">
                                    FLOWSERVE
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/estructurasimec.jpg" class="portfolio-box">
                        <img src="img/estructurasimec.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="categorias">
                                    ESTRUCTURA METALICA
                                </div>
                                <div class="subcategorias">
                                    SIMEC
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/pisoporcelanite.jpg" class="portfolio-box">
                        <img src="img/pisoporcelanite.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class= "categorias" >
                                    PISO DE CONCRETO
                                </div>
                                <div class="subcategorias">
                                    PORCELANITE
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/imperbuap.jpg" class="portfolio-box">
                        <img src="img/imperbuap.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="categorias">
                                    IMPERMEABILIZACIÓN
                                </div>
                                <div class="subcategorias">
                                    BUAP
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/cimenpolaquimia.jpg" class="portfolio-box">
                        <img src="img/cimenpolaquimia.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="categorias">
                                    PISO DE CONCRETO
                                </div>
                                <div class="subcategorias">
                                   POLAQUIMIA
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/laminadoaceros.jpg" class="portfolio-box">
                        <img src="img/laminadoaceros.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="categorias">
                                    LAMINADO
                                </div>
                                <div class="subcategorias">
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/cimencydsa.jpg" class="portfolio-box">
                        <img src="img/cimencydsa.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="categorias">
                                    CIMENTACIONES
                                </div>
                                <div class="subcategorias">
                                    CYDSA
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/aulaprepabj.jpg" class="portfolio-box">
                        <img src="img/aulaprepabj.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="categorias">
                                    EDIFICIO
                                </div>
                                <div class="subcategorias">
                                    BUAP
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/bacheoadfors.jpg" class="portfolio-box">
                        <img src="img/bacheoadfors.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="categorias">
                                    PISO
                                </div>
                                <div class="subcategorias">
                                    ADFORS
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
<!-- fin portafolio -->
      <footer>
        <p>&copy; 2017 COCIT S.A de C.V. &middot;</a></p>
      </footer>
	
</body>
</html>