// Place all the styles related to the Clients controller here.
// They will automatically be included in applicationcss.
// You can use Sass (SCSS) here: http://sass-langcom/

.titulo5{
	padding: 130px 50px 50px;
	color: #FFB131;
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
}