// Place all the styles related to the Pages controller here.
// They will automatically be included in applicationcss.
// You can use Sass (SCSS) here: http://sass-langcom/
*{
	margin: 0px;
	padding: 0px;

}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: right;
	margin-right: 0px;
}

.segunda {
    min-height: 100vh;
    font-family: 'Rajdhani', sans-serif;
    color: #FFB131;
    font-weight: bold;
    padding-top: 170px;
}

.logo{
	top: 0px;
	width: 550px;

}

.tercero{
    min-height: 60vh;
    font-family: 'Rajdhani', sans-serif;
    color: #FFB131;
    font-weight: bold;
    margin-top: 20px;
}

.cuadro{
	width: 100%;
	height: 100%;
	background: #ffffff;
}

.nopadding{
	padding-left: 0px !important;
	padding-right: 0px !important
}

.titulo{
	padding-left: 60px;
	color: #BDBEC0;
	font-family: 'Rajdhani', sans-serif;
}

.titulo2{
	color: #FFB131;
	font-size: 50pt;
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
}

.sub{
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
}

.parrafos{
	color: #777;
	text-align: justify;
	font-size: 14pt;
	font-family: 'Rajdhani', sans-serif;
	font-weight: medium;
}

.cuarto{
	min-height: 100vh;

}

.clientes{
	padding-top: 150px;
}

.clientes2{
	padding-top:70px;
}


[class*=' imghvr-'] {
	background-color: #FFB131;
}

