// Place all the styles related to the Portfolio controller here.
// They will automatically be included in applicationcss.
// You can use Sass (SCSS) here: http://sass-langcom/

.foto{
	width: 100%;
}

.categorias{
	font-family: 'Rajdhani', sans-serif;
	font-size: 15pt;
	opacity: 6;
}

.subcategorias{
	font-family: 'Rajdhani', sans-serif;
	font-size: 17pt;
	opacity: 6;
}

p.banners{
    padding-top: 200px;
    position: absolute;
    color: #FFFFFF;
   	font-size: 70pt;
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
}

p.banners2{
    padding-top: 320px;
    position: absolute;
    color: #FFFFFF;
   	font-size: 25pt;
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: right;
	margin-right: 0px;
}