// Place all the styles related to the send controller here.
// They will automatically be included in applicationcss.
// You can use Sass (SCSS) here: http://sass-langcom/

.fondo{
	background-color: rgba(255,177,49, 0.9);
	font-family: 'Carrois Gothic SC', sans-serif;
	font-weight: bold;
	height:100%;


}

.titulo{
	color: #FFFFFF;
	font-size: 50pt;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-weight: bold;
}